.education {
  text-align: left;
  font-weight: 300;
}

.course,
.cgpa {
  font-size: large;
  text-align: left;
}

.location,
.dates {
  font-size: small;
  font-style: italic;
  font-weight: lighter;
  text-align: left;
}

.logo {
  margin: 2em;
  width: 100%;
  height: auto;
}

.heading {
  font-size: xx-large;
  letter-spacing: 3px;
  text-align: left;
}

.hr {
  border: 0; /* Remove the default border */
  height: 2px; /* Set the height of the line */
  background: rgb(198 185 202 / 54%); /* Use a gradient for a stylish effect */
  margin: 20px 0; /* Add some margin for spacing */
}

/* Default style */
.logo {
  width: 100px; /* Adjust default size as needed */
  height: auto;
}

/* Mobile style */
@media (max-width: 600px) {
  /* Adjust max-width based on your mobile breakpoint */
  .logo {
    width: 70px; /* Reduce size for mobile */
  }
}
